<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	{{ $syntax_dark_css := resources.Get "syntax_dark.css" | minify }}
  {{ $syntax_light_css := resources.Get "syntax_light.css" | minify }}
  <link rel="preload stylesheet" as="style" href="{{ $syntax_dark_css.Permalink }}" />
  <link rel="preload stylesheet" as="style" href="{{ $syntax_light_css.Permalink }}" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9CG6X9VNDL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9CG6X9VNDL');
  </script>


  {{ if .Param "math" }}
    {{ partialCached "math.html" . }}
  {{ end }} 

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style type=text/css>body{font-family:monospace;}</style>
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ range .Site.Params.customCSS -}}
		<link rel="stylesheet" href="{{ . | relURL }}?rnd={{ now.Unix }}">
	{{- end }}
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
	<style>
		@media (prefers-color-scheme: dark) {
			{{ $syntax_dark_css.Content | safeCSS }}
		}
	</style>

</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
